/* Custom Buttons */
.customBtn,
.submitBtn {
  color: white;
  background: linear-gradient(231deg, #30aadd, #00ffc6) fixed;

  border: none;
  border-radius: 20px;

  display: inline-block;

  font-size: 400%;

  margin: 20px;
  height: 14vw;
  width: 14vw;
}
.submitBtn {
  border-radius: 10px;
  margin: 20px auto;
  height: auto;
  width: 90%;
}

.customBtn:focus {
  box-shadow: 10px 10px black;
}

.submitBtn:focus {
  box-shadow: 0 0 0 2px #f7ff93;
  background: linear-gradient(231deg, #a85cf9, #5534a5) fixed;
}

/* Active Button */
.activeBtn {
  /* background-color: #30aadd; */
  background: linear-gradient(231deg, #a85cf9, #5534a5) fixed;
  box-shadow: 10px 10px black;
}

@media (max-width: 2200px) {
  .customBtn {
    height: 13vw;
    width: 13vw;
  }
}

@media (max-width: 1999px) {
  .customBtn {
    height: 16vw;
    width: 16vw;
  }
}

@media (max-width: 1700px) {
  .customBtn,
  .submitBtn {
    font-size: 250%;
  }
}

@media (max-width: 1500px) {
  .customBtn {
    height: 18vw;
    width: 18vw;
  }
}

@media (max-width: 1310px) {
  .customBtn,
  .submitBtn {
    font-size: 200%;
  }
  .customBtn {
    height: 18vw;
    width: 18vw;
  }
}

@media (max-width: 1100px) {
  .customBtn {
    height: 17vw;
    width: 17vw;
  }
}

@media (max-width: 900px) {
  .customBtn {
    display: block;
    height: 120px;
    width: 90%;
    margin: 20px auto;
  }
}

@media (max-width: 600px) {
  .customBtn {
    width: 95%;
  }
}

@media (max-width: 450px) {
  .customBtn,
  .submitBtn {
    font-size: 150%;
  }
}
@media (max-width: 300px) {
  .customBtn,
  .submitBtn {
    font-size: 120%;
  }
}
