/* Custom Buttons */
.customBtn,
.submitBtn {
  color: white;
  background: linear-gradient(231deg, #30aadd, #00ffc6) fixed;

  border: none;
  border-radius: 20px;

  display: inline-block;

  font-size: 50px;

  margin: 20px;
  height: 400px;
  width: 400px;
}

.customBtn:focus {
  box-shadow: 10px 10px black;
}

.submitBtn {
  width: 130px;
}

.submitBtn:focus {
  box-shadow: 0 0 0 2px #f7ff93;
  background: linear-gradient(231deg, #a85cf9, #5534a5) fixed;
}

/* Active Button */
.activeBtn {
  /* background-color: #30aadd; */
  background: linear-gradient(231deg, #a85cf9, #5534a5) fixed;
  box-shadow: 10px 10px black;
}

@media (max-width: 1200px){
  .customBtn{
    font-size: 30px;
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 860px){
  .customBtn{
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 690px){
  .customBtn{
    height: 150px;
    width: 90%;
    margin: 20px 0;
  }
}