.inputAndSubmitBox {
  color: #f7ff93;
  background: linear-gradient(231deg, #a85cf9, #4b7be5) fixed;

  border-style: solid;
  border-width: thick;
  border-radius: 20px;
}

/* Inputs */
/* Shows input titles name when on smaller screen. */
.titles {
  font-size: 400%;
  margin: 20px;
}
.inputGroup {
  margin: 30px auto 0;
  width: 90%;
}

.textBox {
  border: none;
  color: white;

  box-shadow: 5px 5px black;
  background: linear-gradient(90deg, #5534a5, #a85cf9) fixed;

  font-size: 200%;
}

.textBox::placeholder {
  color: gray;
  opacity: 1;
}

.textBox:focus {
  box-shadow: 5px 5px black;

  color: white;
  border-color: white;
  outline-color: white;

  outline-style: solid;
  outline-width: thin;
}

/* Responsiveness Width */
@media (max-width: 1700px) {
  .titles {
    font-size: 250%;
  }
  .textBox {
    font-size: 150%;
  }
}

@media (max-width: 1310px) {
  .titles {
    font-size: 200%;
  }
}

@media (max-width: 450px) {
  .titles {
    font-size: 150%;
  }
}

@media (max-width: 300px) {
  .titles {
    font-size: 120%;
  }
}
