.App {
  font-family: "Fredoka One", cursive;

  text-align: center;
  margin: auto;
  width: 70%;
}
.body {
  background-color: #30aadd;
  background: linear-gradient(231deg, #30aadd, #00ffc6) fixed;
}
.root {
  width: 100%;
}

@media (max-width: 600px) {
  .App {
    width: 90%;
  }
}