/* Overall sytle */
.calcBoxStyles {
  margin: 120px 0;
  padding: 20px;

  color: #f7ff93;
  background: linear-gradient(231deg, #a85cf9, #4b7be5) fixed;

  border-style: solid;
  border-width: thick;
  border-radius: 10%;

  display: inline-block;
}

/* Custom Buttons */
.customBtn {
  margin: 20px;
  height: 80px;
  width: 100px;

  color: white;
  /* background-color: #00ffc6; */
  background: linear-gradient(231deg, #30aadd, #00ffc6) fixed;

  border: none;

  display: inline-block;
}

/* Active Button */
.activeBtn {
  /* background-color: #30aadd; */
  background: linear-gradient(231deg, #a85cf9, #5534a5) fixed;
  color: white;
}

.customBtnMarket {
  width: 130px;
}

/* Anwser */
.anwserStyles {
  margin: 20px 0;
}

.inputsDiv {
  color: blue;
}
