/* Overall sytle */
.calcBox {
  font-family: "Fredoka One", cursive;
  margin: 120px 0;
  padding: 20px;

  color: #f7ff93;
  background: linear-gradient(231deg, #a85cf9, #4b7be5) fixed;

  border-style: solid;
  border-width: thick;
  border-radius: 10%;

  display: inline-block;
}

/* Header Calc Box*/
.calcBoxHeader {
  margin: 5px auto 15px;
}

/* Anwser */
.anwserStyles {
  margin: 15px auto 15px;
  overflow-wrap: break-word;
}

/* Responsiveness Width */
/* Extra Large */
@media only screen and (min-width: 1060px) {
  /* Titles */
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 50px;
  }
  /* Links */
  a {
    font-size: 25px;
  }
}
/* Large */
@media only screen and (max-width: 1059px) and (min-width: 963px) {
  .calcBox {
    width: 52%;
    border-radius: 10%;
  }
}

/* Small*/
@media only screen and (max-width: 739px) {
  .calcBox {
    width: 60%;
    border-radius: 20px;
  }
}
/* Extra Small  */
@media only screen and (max-width: 480px) {
  .calcBox {
    width: 80%;
    border-radius: 20px;
  }
}
