.padding {
  margin: 120px 0;
  padding: 20px;

  background-color: green;
  display: inline-block;
  border-radius: 10%;
}

/* Buttons */
.customBtn {
  background-color: orange;
  color: pink;
  border-color: black;
  display: inline-block;
  margin: 20px;
  height: 80px;
  width: 100px;
}
.activeBtn {
  background-color: lightBlue;
  color: white;
}
.customBtnMarket {
  width: 130px;
}
