a {
  color: #f7ff93;
  display: inline-block;
  text-decoration: none;
  margin: 0 70px;
}

a:hover {
  color: #30aadd;
}

.icon {
  display: inline-block;
}

.footer {
  font-family: "Fredoka One", cursive;
  font-weight: lighter;
  position: relative;
  bottom: 40px;

  margin: auto;
  width: 65%;
  padding: 40px;

  color: #f7ff93;
  background-color: #247881;
  background: linear-gradient(231deg, #a85cf9, #4b7be5) fixed;

  box-shadow: 8px 10px;

  border-radius: 20px;
}

/* Extra Extra Large */
@media only screen and (min-width: 1440px) {
  a {
    margin: 20px 90px;
  }
  .footer {
    width: 50%;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1200px) {
  .footer {
    width: 70%;
  }
}

@media only screen and (max-width: 1059px) {
  .footer {
    width: 80%;
  }
}

/* Extra Large */
@media only screen and (max-width: 1440px) and (min-width: 1257px) {
  a {
    margin: 20px 60px;
  }
}
/* Large */
@media only screen and (max-width: 1257px) and (min-width: 913px) {
  a {
    margin: 10px 40px;
  }
}
/* Medium */
@media only screen and (max-width: 912px) and (min-width: 844px) {
  a {
    margin: 5px 50px;
  }
}

/* Small*/
@media only screen and (max-width: 844px) and (min-width: 541px) {
  a {
    margin: 0 20px;
  }
}
/* Extra Small  */
@media only screen and (max-width: 540px) {
  a {
    display: block;
    margin: 5px 0;
  }
}
