a {
  color: #f7ff93;
  display: inline-block;
  text-decoration: none;
  margin: 0 70px;
}

a:hover {
  color: #30aadd;
}

.icon {
  transform: scale(5);
}
.iconDiv{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;

  margin: auto;

  width: 50%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Fredoka One", cursive;
  font-weight: lighter;
  position: relative;
  bottom: 40px;

  margin: 60px auto 0;
  padding: 40px;

  color: #f7ff93;
  background-color: #247881;
  background: linear-gradient(231deg, #a85cf9, #4b7be5) fixed;

  box-shadow: 8px 10px;

  border-radius: 20px;
}

@media (max-width: 550px){
  .footer{
    display: block;
  }
}