.header {
  margin: 20px auto 40px;

  padding: 40px;

  color: #f7ff93;
  background-color: #247881;
  background: linear-gradient(231deg, #a85cf9, #4b7be5) fixed;

  box-shadow: 8px 10px;

  border-radius: 20px;
}
.fontSize{
  font-size: 500%;
}

/* Responsiveness Width */
@media (max-width: 1700px){
  .fontSize {
    font-size: 330%;
  }
}

@media (max-width: 1300px){
  .fontSize {
    font-size: 300%;
  }
}

@media (max-width: 450px){
  .fontSize {
    font-size: 250%;
  }
}
@media (max-width: 300px){
  .fontSize {
    font-size: 200%;
  }
}